data/
*.npz

# Sleep-EDF preprocessed data folder
SC_Data/

# Python cached files
__pycache__/
*.pyc
.ipynb_checkpoints/

# WandB
wandb/

# Heavy binary files in results (checkpoints, predictions)
results/**/*.pth
results/**/*.pt
results/**/*.ckpt
results/**/*.npy

# PyTorch checkpoints everywhere else
*.pth
*.pt
*.ckpt
.aider*
